.container .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: visible;
  }
  .container .content .card{
    height: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 50px #f2f2f2;
  }