.section1 {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
  }
  .section1::before {
    content: "";
    position: fixed;
    top: -100px;
    left: -100px;
    height: 500px;
    width: 500px;
    background: var(--accent-color);
    opacity: 0.7;
    filter: blur(350px);
    z-index: -1;
  }
  .section1::after {
    content: "";
    position: fixed;
    bottom: 20vh;
    right: -200px;
    height: 700px;
    width: 700px;
    background: #ffe4d6;
    opacity: 0.7;
    filter: blur(150px);
    z-index: -1;
  }
  .section1 .text {
    height: 600px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
  }
  .section1 .text p {
    padding: 20px 0;
  }
  .section1 .text h1 {
    font-size: 50px;
  }
  .section1 .text a {
    border: 1px solid var(--accent-color);
    background: var(--accent-color);
    color: white;
    border-radius: 100px;
    width: 200px;
    padding: 0.3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section1 .image {
    height: 500px;
    width: 60%;
    display: flex;
    align-items: end;
    justify-content: center;
    border: 1px solid red;
  }
  .section1 .image img {
    transform: translateY(-15px);
  }
  /* section one  */