* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "averta";
  letter-spacing: -0.02em;
  color: #000;
  text-decoration: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "averta";
  src: url(../fonts/AvertaCY-Regular.ttf);
}
:root {
  --h1--size: 35px;
  --h2--size: 30px;
  --h3--size: 25px;
  --h4--size: 20px;
  --p--size: 18px;
  --accent-color: #a261af;
  --background-color: #fff;
  --black-color: #000;
}
body{
  background: var(--background-color);
}
h1 {
  font-size: var(--h1--size);
  color: var(--black-color);
}
h2 {
  font-size: var(--h2--size);
  color: var(--black-color);
}
h3 {
  font-size: var(--h3--size);
  color: var(--black-color);
}
h4 {
  font-size: var(--h4--size);
  color: var(--black-color);
}
p {
  font-size: var(--p--size);
  color: var(--black-color);
}
a {
  font-size: var(--p--size);
  color: var(--black-color);
}
/* root */

nav {
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}
nav a.logo {
  overflow: visible;
  width: 200px;
}
nav ul {
  overflow: hidden;
  display: flex;
}
nav ul li {
  margin: 0 2px;
  padding: 0px;
}
nav ul li a {
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  transform: translateY(2px);
}
nav ul li:nth-child(6) a {
  background: var(--accent-color);
  color: var(--background-color);
  border: 1px solid var(--accent-color);
  padding: 0.3rem 2rem;
  border-radius: 1000px;
}
@media screen and (max-width: 2000px){
  nav{
    padding: 0 10%;
  }
}
@media screen and (max-width: 1733px){
  nav{
    padding: 0 100px;
  }
}
@media screen and (max-width: 1580px){
  nav{
    padding: 0 50px;
  }
}
/* nav bar  */

.container {
  min-height: calc(100vh - 400px - 100px);
  width: 1380px;
  margin: 0 auto;
  overflow: visible;
}


.header{
  min-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more{
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more a{
  padding: .5rem 2rem;
  color: var(--background-color);
  background: var(--accent-color);
  border-radius: 10000px;
}

footer{
  min-height: 400px;
  width: 100%;
  background: #a261af18;
}
footer .content{
  height: 400px;
  width: 1380px;
  margin: 0 auto;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 40% 1fr 1fr;
}
footer .content .logo img{
  width: 300px; 
}
footer .content .logo p{
  width: 70%;
  padding: 20px 0;
}
footer .content .logo p:nth-of-type(2){
  padding: 0;
  color: gray;
}
footer .content ul li:nth-child(1){
  padding: 10px 0;
}
footer .content ul li{
  padding: 5px 0;
}