.mainlogo{
    padding: 100px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainlogo img{
    height: auto;
    width: 30%;
}
.section1 {
  min-height: 600px;
  width: 100%;
  padding: 0 0 200px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: visible;
}
.section1::before {
  content: "";
  position: fixed;
  top: -100px;
  left: -100px;
  height: 500px;
  width: 500px;
  background: var(--accent-color);
  opacity: 0.7;
  filter: blur(350px);
  z-index: -1;
}
.section1::after {
  content: "";
  position: fixed;
  bottom: 20vh;
  right: -200px;
  height: 700px;
  width: 700px;
  background: #ffe4d6;
  opacity: 0.7;
  filter: blur(150px);
  z-index: -1;
}
.section1 h1 {
  padding: 20px 0;
}
.section1 .image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.section1 .text .image img {
  height: auto;
  width: 80%;
}
.section1 form {
  height: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section1 form input {
  display: block;
  width: 100%;
  height: 70px;
  font-size: var(--p--size);
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 0 20px;
  outline: none;
  background: none;
}
.section1 form textarea {
  display: block;
  width: 100%;
  height: 200px;
  font-size: var(--p--size);
  margin: 10px 0;
  padding: 0 20px;
  border: none;
  border-bottom: 2px solid #ddd;
  background: #0000;
  outline: none;
}
.section1 form input::placeholder,
.section1 form textarea::placeholder {
  color: #ddd;
}
.section1 form input[type="button"] {
  border: none;
  background: var(--accent-color);
  color: white;
}
/* section one  */
