.section1 {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1::before {
  content: "";
  position: fixed;
  top: -100px;
  left: -100px;
  height: 500px;
  width: 500px;
  background: var(--accent-color);
  opacity: 0.7;
  filter: blur(350px);
  z-index: -1;
}
.section1::after {
  content: "";
  position: fixed;
  bottom: 20vh;
  right: -200px;
  height: 700px;
  width: 700px;
  background: #ffe4d6;
  opacity: 0.7;
  filter: blur(150px);
  z-index: -1;
}
.section1 .text {
  height: 600px;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section1 .text p {
  padding: 20px 0;
}
.section1 .text h1 {
  font-size: 50px;
}
.section1 .text a {
  border: 1px solid var(--accent-color);
  background: var(--accent-color);
  color: white;
  border-radius: 100px;
  width: 200px;
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 .image {
  height: 500px;
  width: 60%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.section1 .image img {
  transform: translateY(-15px);
}
/* section one  */

.section2 {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 50px 0;
}
/* section 2  */

.section3 {
  height: 580px;
  width: 100%;
  overflow: visible;
}
.section3 .content {
  min-height: 380px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: visible;
}
.section3 .content .card:nth-child(2) {
  box-shadow: 0 0 50px #f2f2f2;
}
.section3 .content .card {
  margin: 10px;
  border-radius: 30px;
  padding: 20px;
  transition: 0.5s box-shadow;
}
.section3 .content .card:hover {
  box-shadow: 0 0 50px #81818149;
}
.section3 .content .card .image {
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3 .content .card .image img {
  height: auto;
  width: 50%;
}
.section3 .content .card:nth-child(2) .image img {
  width: 55%;
}
.section3 .content .card:nth-child(3) .image img {
  width: 55%;
}
.section3 .content .card .text {
  text-align: center;
}
.section3 .content .card .text h4 {
  padding: 20px 20px 10px 0;
}
/* section3 */

.section4 {
  min-height: 700px;
  width: 100%;
  overflow: visible;
}
.section4 .content {
  min-height: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  overflow: visible;
}
.section4 .content .card {
  overflow: hidden;
  height: 260px;
  width: 100%;
  border: 1px solid #f2f2f2;
  transition: 0.5s box-shadow;
  box-shadow: 0 0 50px #f2f2f2;
}
.section4 .content .card:hover {
  box-shadow: 0 0 50px #818181;
}

.section4 .content .card .image {
  height: 180px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4 .content .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 0;
}
.section4 .content .card .text {
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* .section4 */

.section5 {
  min-height: 700px;
  width: 100%;
  overflow: visible;
}
.section5 .content {
  overflow: visible;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section5 .content .card {
  padding: 10px;
  height: 200px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 190px 1fr;
  margin: 10px;
  border: 1px solid #f2f2f2;
}
.section5 .content .card .image {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
}
.section5 .content .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section5 .content .card .text p {
  margin: 10px 0;
}
/* section 5 */

.section6 {
  min-height: 700px;
  width: 100%;
  overflow: visible;
}
.section6 .content {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: visible;
}
.section6 .content .card {
  margin: 10px;
  height: 400px;
  border-radius: 20px;
  padding: 40px 20px;
  box-shadow: 0 0 50px #f2f2f2;
}
.section6 .content .card .image {
  overflow: hidden;
  height: 60px;
  width: 100%;
}
.section6 .content .card .image img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 1000px;
}
.section6 .content .card .text h4 {
  padding: 10px 0;
}
.section6 .content .card .text p:nth-of-type(1) {
  padding: 0 0 10px 0;
}
/* section6  */

.section7 {
  position: relative;
  min-height: 500px;
  width: 100%;
  margin: 100px 0;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section7::before {
  content: url('../images/Group\ 77.svg');
  z-index: 1;
  position: absolute;
  top: 30px;
  right: -20px;
}
.section7 .content {
  position: relative;
  height: 500px;
  width: 100%;
  background: #a261af18;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 200px 30px 30px 30px;
  box-shadow: 0 0 50px #bbbbbbcb;
  overflow: hidden;
}
.section7 .content::before {
  content: url("../images/subscribe-section-img.svg");
  position: absolute;
  top: -100px;
  right: 50px;
  height: 100px;
  width: auto;
  opacity: 0.2;
}
.section7 .content::after {
  content: url("../images/subscribe-section-img.svg");
  position: absolute;
  bottom: -100px;
  left: 50px;
  height: 100px;
  width: auto;
  transform: rotateZ(180deg);
  opacity: 0.2;
}
.section7 .content h1 {
  text-align: center;
  color: #5e6282;
  margin: 30px 0;
  z-index: 1;
}
.section7 form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
.section7 input,
.section7 textarea {
  height: 50px;
  width: 100%;
  margin: 5px;
  font-size: var(--p--size);
  background: none;
  border: none;
  border-bottom: 2px solid #5e628237;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #5e6282;
  resize: none;
}
.section7 input::placeholder,
.section7 textarea::placeholder {
  color: #5e6282;
}
.section7 textarea {
  height: 100px;
}
.section7 form button {
  height: 50px;
  width: 100%;
  margin: 5px;
  font-size: var(--p--size);
  background: none;
  border: 2px solid #5e628237;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #5e6282;
  cursor: pointer;
  transition: 0.5s background, 0.5s color;
}
.section7 form button:hover {
  background: var(--accent-color);
  color: var(--background-color);
}
.section7 form input:-internal-autofill-selected {
  appearance: none;
  background-image: none;
  background-color: none;
  color: none;
}
/* section7  */